<!DOCTYPE html>
<html>
<head>
    <title>ip filter</title>
</head>
<body>
<h1>User: {{ .User.Username }}</h1>

<form action="/api/ip/add" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="ip" required/><br/>
    <input type="submit" name="submit">
</form>

<ul>
    {{ range .Entries }}
    <li>
        IP: {{ .IP }}
        CreatedAt: {{ .CreatedAt.Format "2006-01-02 15:04:05" }}
        UpdatedAt: {{ .UpdatedAt.Format "2006-01-02 15:04:05" }}
        <form action="/api/ip/delete" method="post">
            <input type="hidden" name="ip" value="{{.IP}}"/>
            <input type="submit" value="remove"/>
        </form>
    </li>
    {{ end }}
</ul>
</body>
</html>